<% stylesheet('/stylesheets/footer.css') -%>

<footer>
	
	<div class="top">
		<div class="tab">
			<p class="title">Учебный центр</p>
			<p class="item">О нас</p>
			<p class="item">Наша команда</p>
			<p class="item">Контакты</p>
			<p class="item">Наши партнеры</p>
			<p class="item">Стать лектором</p>
		</div>	
		<div class="tab">
			<p class="title">Отзывы</p>
		</div>	
		<div class="tab">
			<p class="title">Присоединиться</p>
			<p class="item">Facebook</p>
			<p class="item">Vkontakte</p>
			<p class="item">Twitter</p>
		</div>	
		<div class="tab">
			<p class="title">Подписка</p>
			<p class="item nohover">Хотите получать скидки, быть в курсе новостей и участвовать в мероприятиях проводимых нами? Подпишись на рассылку.</p>
		</div>

	</div>
	<div class="bottom">
		<a href="http://web-terror.com" target="_blank">
			<p class="st">Разработка</p>
			<p class="wt">ВЕБ ТЕРРОР</p>
			<p class="st">студия</p>
		</a>
	</div>

</footer>