<% stylesheet('/stylesheets/header.css') -%>

<header>
	<div class="width-wrapper">
		<div class="logo"><a href="/">GIM</a></div>
		<div class="left">
			<div class="tab"> <span>О нас </span></div>
			<div class="tab"> <span>Курсы </span></div>
			<div class="tab"> <span>Лектора </span></div>	
			<div class="tab"> <span>Оплата </span></div>
			<div class="tab"> <span>Новости </span></div>
		</div>
		<div class="right">
			<span>
				<div class="action upper">Задать вопрос</div>
				<div class="action">Заказать звонок</div>
			</span>
			<span>
				<p class="contact">teachme@studycenter.ru</p>
				<p class="contact">+7 000 999 44 22</p>
			</span>
		</div>
	</div>
</header>