<%- layout('base.ejs') %>
<% block('title', 'Главная страница') -%>
<% stylesheet('/stylesheets/index.css') -%>


<% for (var i=0; i<lectors.length; i++) { %>

<p><%= lectors[i] %> </p>
<div class="each">
	<div class="img" style="background-image : url(lectors[i].avatar)"></div>
	<div class="info">
		<p class="label"><%= lectors[i].name %></p>
		<p class="description"><%= lectors[i].description %></p>
	</div>
</div>

<% } %>
