.courses-container {
	padding: 20px 50px;
	> p {
		text-align: center;
		font-family: "LatoBlack";
		font-size: 25px;
		margin-bottom: 40px;
	}
	.each-lector {
		margin-bottom: 30px;
		overflow: hidden;
		.img {
			width: 100px;
			height: 100px;
			float: left;
			margin-right: 50px;
			background-position: center center;
			background-size: cover;
			border-radius: 5px;
		}
		.info {
			width: 600px;
			float: left;
			height: 100px;
			line-height: 100px;
			span {
				display: inline-block;
				vertical-align: middle;
				line-height: 20px;
				.label {
					font-family: "LatoBlack";	
					font-weight: bold;
					font-size: 18px;
					margin-bottom: 10px;
				}
				.description {
					font-size: 15px;
					font-family: "LatoMedium";
				}
			}
		}
	}
}